/*------------------------------------------------------------
text
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-text {
    &__water {
        left: 133px;
        top: 35px;

        @include sp {
            left: 32%;
            top: 26.5%;
        }
    }

    &__bugspray {
        left: 67px;
        top: 77px;

        @include sp {
            left: 25.3%;
            top: 129%;
            padding-left: 0 !important;
            padding-right: 10px;
        }
    }

    &__linenwater {
        top: 77px;
        left: 105px;

        @include sp {
            left: 16.3%;
            letter-spacing: 2px;
            top: 129%;
        }
    }

    &__airfreshener {
        top: 54.5px;
        left: 43px;

        @include sp {
            left: 4%;
            top: 176%;
            padding-left: 0 !important;
            right: 33.2%;
            letter-spacing: 1.7px;
        }
    }

    &__coolingspray {
        right: -25px;
        top: 87px;
        padding-left: 10px;
        @include tab {
            padding-left: 0;
            right: unset;
            left: 120px;
        }

        @include sp {
            left: unset;
            padding-left: 10px;
            letter-spacing: 2px;
            top: 181%;
            right: 32.7%;
        }
    }

    &__mask {
        right: 0;
        bottom: 3px;
        transform: translateX(1px);
        @include tab {
            right: unset;
            left: 157px;
        }

        @include sp {
            left: unset;
            right: 37%;
            padding-left: 0 !important;
            bottom: -147%;
            padding-right: 30px;
        }
    }

    &__pillow {
        left: -1px;
        top: 105px;

        @include sp {
            left: 26.5%;
            top: 207%;
            padding-right: 0 !important;
            padding-left: 15px;
        }
    }

    &__bath {
        left: -87px;
        top: 19px;

        @include sp {
            left: 29%;
            top: 192%;
        }
    }
}
