/*------------------------------------------------------------
img
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-img {
    &__water {
        left: 78px;
        top: 1px;
        width: 55px;

        @include sp {
            left: 22%;
            top: 20.5%;
            width: 30px;
        }
    }

    &__labelwater {
        width: 153px;
        top: -51px;
        left: 29px;

        @include sp {
            width: 136.5px;
            left: 6%;
            top: 11.5%;
        }
    }


    &__bugspray {
        left: 18px;
        top: 42px;
        width: 53px;

        @include sp {
            width: 35px;
            left: 77%;
            top: 92%;
        }
    }

    &__linenwater {
        width: 83px;
        left: 21px;
        top: 41px;

        @include sp {
            width: 46px;
            transform: rotateY(180deg);
            left: 8%;
            top: 101%;
        }
    }

    &__airfreshener {
        width: 42px;
        left: -2px;
        top: 0;

        @include sp {
            width: 30px;
            left: 64%;
            top: 121%;
        }
    }

    &__labelairfreshener {
        width: 153px;
        top: -52px;
        left: -58px;

        @include sp {
            width: 139px;
            left: 48%;
            top: 80%;
        }
    }

    &__coolingspray {        
        width: 59px;
        left: 92px;
        top: 66px;
        @include tab {
            left: 20%;
        }

        @include sp {
            width: 37px;
            left: 8%;
            top: 149%;
        }
    }

    &__mask {
        width: 155px;
        left: 42px;
        bottom: -17px;

        @include sp {
            width: 110px;
            left: 55%;
            bottom: -190%;
        }
    }

    &__labelmask {
        left: 43px;
        width: 117px;
        top: 60px;

        @include sp {
            width: 107px;
            left: 46%;
            top: 144%;
        }
    }

    &__pillow {
        width: 127px;
        left: 96px;
        top: 89px;

        @include sp {
            width: 64px;
            left: 10%;
            top: 197%;
        }
    }

    &__bath {
        width: 162px;
        left: 38px;
        top: 2px;

        @include sp {
            width: 80px;
            left: 64%;
            top: 168%;
        }
    }
}
