///*------------------------------------------------------------
//Anchor position
//------------------------------------------------------------*/
//.u-anchor:before {
//	content:"";
//	margin-top: -100px;
//	padding-top: 100px;
//}
.u-overflow {
    overflow: hidden;
}

.u-pddouble {
    padding: 40px 45px;
}

//------------------------------------------------------------
// color
//------------------------------------------------------------
.u-bgwhite {
    background-color: #fff;
}

.u-product {
    color: #333;
}

.u-black {
    color: #000;
}


//------------------------------------------------------------
// padding
//------------------------------------------------------------

.u-pdl8 {
    padding-left: 8px;
}

.u-pdl10 {
    padding-left: 10px;
}

.u-pdl16 {
    padding-left: 16px;
}

.u-pdl45 {
    padding-left: 40px;
}

.u-pdr10 {
    padding-right: 10px;
}

.u-pdr45 {
    padding-right: 45px;
}

.u-pdt7 {
    padding-top: 7px;
}



//------------------------------------------------------------
// margin
//------------------------------------------------------------
.u-mgt9 {
    margin-top: 9px;
}

.u-mgl1 {
    margin-left: 1px;
}

.u-mgl2 {
    margin-left: 2px;
}

.u-mgl8 {
    margin-left: 8px;
}

.u-mgl01 {
    margin-left: -1px;
}

.u-mgl04 {
    margin-left: -4px;
}

.u-mgl07 {
    margin-left: -7px;
}

.u-mgl011 {
    margin-left: -11px;
}

.u-mgl09 {
    margin-left: -9px;
}


