/*------------------------------------------------------------
footer
------------------------------------------------------------*/
.c-footer {
    padding: 109px 100px 66px;
    background: #fff;

    &__info {
        max-width: 1030px;
        margin: 0 auto;
        color: $text-color;
        display: flex;
        justify-content: space-between;
        @include tab {
            flex-direction: column;
        }
        @include sp {
            max-width: 375px;
        }
    }

    &__left {
        letter-spacing: 1.5px;
        line-height: 1.7;
        color: #282828;
        @include sp {
            font-size: 1.3rem;
            color: #000;
            line-height: 1.7;
            transform: translateY(-4px);
            letter-spacing: 0;
        }          
    }

    &__right {
        @include tab {
            margin: 0 auto;
        }
    }

    &__logo {        
        display: block;
        margin-left: 28px;
        margin-top: 6px;
        height: 37px;
        @include sp {
            margin: 21px 108.5px 0;
        }
    }

    &__img {        
        max-width: 145px;
        width: 100%;
        @include sp {            
            width: 100px;
            height: 25.5px;
        }
    }

    &__copyright {
        font-size: 1.2rem;
        line-height: 1.4;
        letter-spacing: 1.4px;
        margin-top: 9px;
        color: #282828;
        @include sp {
            font-size: 1rem;
            color: #000;
            text-align: center;
            letter-spacing: 1px;
            margin-top: 0;
        }
    }

    &__contactpc {
        @include tab {
            display: none;
        }
    }

    &__contacttab {
        display: none;
        @include tab {
            display: block;
        };
    }
    @include sp {
        padding: 58px 15px 48px;
    }
}
